*{
    margin: 0;
    padding: 0;
}

body{
    background-image:linear-gradient(rgba(249, 244, 244, 0.3) , rgba(249, 235, 235, 0.3));
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;  
}
h3{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
    font-size: larger;
    font-weight: lighter;
    font-style: italic;
    color: crimson;
    cursor: pointer;
}

.container{
    border: 2px solid rgb(248, 48, 158);
    margin: 2rem;
    display: flex;
    justify-content:space-between;
    padding: 20px;
    
}

label{
    font-size: large;
    color: rgb(147, 64, 199);
    font-weight: bolder;
}
::placeholder{
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(7, 0, 0);
    font-style: italic;
}
#name{
    background: none;
    border: none;
    border-bottom: 2px solid saddlebrown;
    
}
#hehe{
    background: none;
    border: none;
    border: 2px solid saddlebrown;
}

#sub ,#val{
    padding: 2px;
    font-size: large;
    font-weight: bolder;
    color: rgb(147, 64, 199);   
}

h5{
    color: rgb(6, 60, 141);
    padding-top: 61px;
    padding-left: 909px;
    font-style: italic;
    
}

#add{    
    object-fit: contain;
    width: 200px;
    padding-bottom: 300px;
    padding-top: 0px;
} 
